# MongoDB Database Connection
MONGODB_URI=mongodb://localhost:27017/connected

# Key Management Module (KMM) Root Protection Secret
MASTER_KMM_SECRET=CSE447_SECURE_KMM_ROOT_SECRET_KEY_2025

# Anti-Hijacking Session Token Secret
SESSION_SIGNING_KEY=CSE447_SESSION_ANTI_HIJACKING_KEY_2025

# Message Authentication Code (MAC) Integrity Secret
MAC_SECRET=CSE447_INTEGRITY_MAC_MASTER_SECRET_2025
